<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Breaker</title>
</head>
<body>
    <h1>Ice N Spice</h1>
    <h2></h2>
    
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Enter player name" required>
        <button type="submit">Add Player</button>
    </form>
    
    <h2>Players:</h2>
    <ul>
        {% for player in players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>

    {% if players %}
        <a href="{{ url_for('randomize') }}"><button>Randomize Order</button></a>
        <a href="{{ url_for('reset') }}"><button>Reset Players</button></a>
    {% endif %}
</body>
</html>
